@import './global.scss';

.profileImage {
    margin-left: 40px;
    height: 50px;
    width: 300px;
    border-radius: 10000px;
    border: 2px solid white;
}

.innerPTag {
    width: 50%;
    margin: 20px auto;
    font-size: 1.3vw;
    padding: 0 !important;
    list-style-type: none;

    @include mobile {
        font-size: 4vw;
        padding: 0 !important;
        margin-top: 40px;

        & li {
            list-style-type: none;
            margin: 0;
        }
    }
}

.resumeButton {
    display: block;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 25px;
    cursor: pointer;

    @include ipad {
        font-size: 20px;
    }

    @include mobile {
        padding: 5px 10px;
        font-size: 3.5vw;
        border-width: 1px !important;
        text-align: center;
        margin: auto;
        margin-left: 25%;
    }
    // border: 1px solid white;
}
