@import './global.scss';

.profileImage {
    margin-left: 40px;
    height: 50px;
    width: 300px;
    border-radius: 10000px;
    border: 2px solid white;
}

.innerPTag {
    width: 50%;
    margin: 20px auto;
    font-size: 1.3vw;
    padding: 0 !important;
    list-style-type: none;

    @include mobile {
        font-size: 4vw;
        padding: 0 !important;
        margin-top: 40px;

        & li {
            list-style-type: none;
            margin: 0;
        }
    }
}
